.movieDetails{
    display: flex;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid black;
    .image{
        width: 150px;
        height: 200px;
        margin-right: 10px;
    }
    .details {
        h4{
            margin-top: 5px;
        }
    }
    .genres{
        span:not(:last-child){
            margin-right: 5px;
        }
    }

}

